@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');


/* Colores 

background-color: rgb(138, 4, 109); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --clr-icons: #929292;
  --clr-text: #fff;
  --clr-bg-dark: #242424;
  --clr-bg-light: #3b3b3b;
  --clr-accent: #8f0183;
}

body{
  font-family: 'Roboto', sans-serif;
    overflow: scroll;
    /*
    background-image: url("../img/logoIPNBlancoBlend.png");
    background-size: cover;*/
}

/*Botones Bootstrap*/
.black-background {background-color:#01a332;}
.white {color:#ffffff;}

/* MENSAJES FIREBASE */

.list-group-item{
  background-color: rgb(133, 25, 88);
  border-radius: 5px;
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.75);
}

.list-group-item:hover{
  color: #641c40;
}

.list-group-item-action{
  background-color: rgb(133, 25, 88);
}
.list-group-item-action:hover{
  background-color: rgb(133, 25, 88);
}

.list-group-item h4{
  font-size: 17px;
  color: rgb(255, 196, 0);
  font-weight: 600;
}

.list-group-item p{
  color: #fff;
  font-size: 17px;
}

.list-group-item h6{
  color: #fff;
  font-size: 14px;
}


/*  */

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #6c1d45  url("../polivirtual/img/preloaders/PreloaderCircular.svg") no-repeat center center;
  }

/*  AQUI !!!!  */
  /* Default CSS*/
body {
	font-family: 'Roboto', sans-serif;
  /*background-color: #6c1d45;*/
  background-color: #f3f3f3;
	overflow-x: hidden;
	font-size: 14px;
	color: rgb(255, 255, 255); 
	margin: 0;
  padding: 0;
}

html,
body {
	height: 100%;
}


a {
  color: #ffffff;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

img{
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  /*box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);*/

}


.logo{
  width: 150px;
  margin-left: 7%;
  margin-top: 2px;
  cursor: pointer;
  box-shadow: none;
}

.logo:hover{
  box-shadow: none;
  transform: none;
}

p{
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {

.logo{
  width: 100px;
  margin-left: 2%;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: none;
}
.logo:hover{
  box-shadow: none;
  display: none;
  }
}

p {
	line-height: 1.7;
	margin: 0;
	font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

input:focus,
textarea:focus,
button:focus {
	outline: medium none
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}
a:focus,
a:hover {
	text-decoration: none;
	transition: .5s;
}

/* MENU y separacion del menu y logo de header */
/*.container{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2rem;
}*/





/* End Default CSS*/

header{
    position: fixed;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to right, #6c1d45 , #a82165 );
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}
/*---------- main menu style start ---------*/
.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; 
  width: 130%;
}
.main-menu ul li {
    position: relative; 
}
.main-menu ul li.static {
    position: static; 
}
/* color y letras del header*/
.main-menu ul li a {
    color: #fff;
    font-size: 17px;
    /* AQUI CAMBIAMOS EL TAMAÑO DEL HEADER */
    padding: 23px 14px;
    font-weight: 300;
    display: block;
    line-height: 1;
    /*text-transform: uppercase;*/
    border-radius: 5px;
}

/* tamaño de los iconos menu escritorio */
.main-menu ul li a i {
    font-size: 17px;
    padding: 0 3px; 
}
.main-menu ul li:first-child a {
    padding-left: 0; 
}
.main-menu ul li:hover > a, .main-menu ul li.active > a {
    color: #fff; 
}
/* aqui se cambia el color del menu despegable*/
.main-menu ul li ul.dropdown {
    top: 100%;
    left: 0;
    width: 220px;
    position: absolute;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    /*    */
    /*background: #fff;*/
    background: linear-gradient(to right, #6c1d45 , #a82165);
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    padding: 20px 0;
    pointer-events: none;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    border: 1px solid #fff;
    /*border: 1px solid #e5e5e5;*/ 
}
.main-menu ul li ul.dropdown li {
    margin-right: 0;
    border-right: none;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0; 
}
/* Aqui cambiamos el color de las letras del menu blanco*/
.main-menu ul li ul.dropdown li a {
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: capitalize; 
    font-weight: 400; 
}
.main-menu ul li ul.dropdown li a i {
    float: right;
    padding-top: 5px; 
}
.main-menu ul li ul.dropdown li:hover > a {
  color: #ff00bf; 
    /*color: #fff;*/
    /*background: linear-gradient(to right, #6c1d45 , #a82165);*/
    width: 100%;
}
.main-menu ul li ul.dropdown li ul.dropdown {
    top: 100%;
    left: 100%;
    position: absolute;
    width: 250px;
    opacity: 0;
    visibility: hidden; 
}
.main-menu ul li ul.dropdown li:hover ul.dropdown {
    top: 0;
    opacity: 1;
    visibility: visible; 
}

/* cambiamos el tamaño del submenu blanco */
.main-menu ul li ul.megamenu {
    width: 100%;
    padding: 20px;
    border: 1px solid #e5e5e5;
    left: 0;
    right: 0;
    margin: auto; 
}
.main-menu ul li ul.megamenu li {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; 
}

/* aqui se cambia el tamaño de las letras del menu de noticias */
.main-menu ul li ul.megamenu li.mega-title > a {
    color: #fff;
    font-size: 17px;
    font-weight: 600; 
}
.main-menu ul li ul.megamenu li ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; 
}
.main-menu ul li ul.megamenu li:hover > a {
      /* COLOR HOVER MENU*/
  color: #ff00b3; 
}
.main-menu ul li ul.megamenu li.megamenu-banners {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 25px;
    padding-bottom: 10px;
    position: relative; 
}
.main-menu ul li ul.megamenu li.megamenu-banners:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; 
}
.main-menu ul li ul.megamenu li.megamenu-banners:hover:before {
    opacity: 1;
    visibility: visible; 
}
.main-menu ul li:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0); 
}
.main-menu ul li:hover ul.megamenu {
    opacity: 1;
    visibility: visible; 
}

/* MARGEN DEL HEADER */
.header-main-area.sticky {
    border-bottom: 1px solid #eaeaea5e;
}

/*------ sticky menu style start ------*/
.sticky.is-sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
  animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown; }
  .sticky.is-sticky .main-menu li a {
    padding: 30px 15px; }
  .sticky.is-sticky .main-menu li .dropdown li a {
    padding: 10px 15px; }
  .sticky.is-sticky .main-menu li:first-child a {
    padding-left: 0; }

/*------ sticky menu style end ------*/





/*----- mobile menu start -----*/
.mobile-header .category-toggle {
  	padding: 8px 15px; }

.mobile-header-top {
  	border-bottom: 1px solid #fff; 
}
.mobile-header-top .header-top-settings {
    float: none; 
}

.mobile-logo {
  	max-width: 110px;
    width: 100%; 
    /*margin-left: -20px;*/
    margin-top: 2px;
}
.mobile-main-header {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	align-items: center;
  	-webkit-box-pack: justify;
  	-ms-flex-pack: justify;
  	justify-content: space-between; 
}
.mobile-main-header .mobile-menu-toggler {
  	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap {
    display: inline-block;
    font-size: 23px;
    line-height: 1;
    position: relative;
    margin-left: 30px; 
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a {
    color: #333; 
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a:hover {
    color: #007bff; 
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap .notification {
    font-size: 14px;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    right: -8px;
    top: 0;
    position: absolute;
    background-color: #007bff; 
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn {
    margin-left: 15px; 
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn .off-canvas-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 15px 15px;
    line-height: 1;
    padding-right: 0; 
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn .off-canvas-btn:hover {
    color: #a1a1a1; 
}

/* Aqui esta el margen del menu de arriba a abajo*/
.mobile-navigation {
  overflow: hidden;
  max-height: 770px; 
}
.mobile-navigation nav {
    height: 100%; 
}

.mobile-menu {
  margin-top: 30px;
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  margin-right: -30px; 
}

/* Color de los enlaces de manera responsiva */

/* Tamaño de las letras del menu responsive eran 19 */

/* tamaño de letras principales*/
.mobile-menu li > a {
    font-size: 17px;
    color: #fff;
    text-transform: capitalize;
    /* AQUI EL ESPACIO DE LI EN EL MENU DESPEGABLE */
    line-height: 19px;
    position: relative;
    display: inline-block;
    padding: 10px 0; 
}
.mobile-menu li > a:hover {
    color: #ff00b3; 
}
.mobile-menu li ul li {
    border: none;
    padding-left: 15px; 
}

/*Letras del subemnu y sub  sub menu*/
.mobile-menu li ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 0; 
}
/* Tamaño del icono*/
.mobile-menu li ul li i{
  font-size: 17px;
}
.mobile-menu li.menu-item-has-children {
    display: block;
    position: relative; 
}
.mobile-menu li.menu-item-has-children .menu-expand {
    line-height: 50;
    top: -5px;
    left: 90%;
    width: 30px;
    position: absolute;
    height: 50px;
    text-align: center;
    cursor: pointer; 
}

/* el simboolo de menos */
.mobile-menu li.menu-item-has-children .menu-expand i {
    display: block;
    position: relative;
    width: 15px;
    margin-top: 23px;
    border-bottom: 3px solid #ffffff;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out; 
}
.mobile-menu li.menu-item-has-children .menu-expand i:before {
    top: 0;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border-bottom: 3px solid #ffffff;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; 
}
.mobile-menu li.menu-item-has-children.active > .menu-expand i:before {
   	-webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); 
}

/*----- mobile menu end -----*/
/*------ offcanvas widget area start ------*/
.offcanvas-widget-area {
  margin-top: auto;
  padding-bottom: 30px; 
}

.off-canvas-contact-widget li {
  	color: #ffffff;
  	font-size: 17px;
  	margin-bottom: 5px; 
}
.off-canvas-contact-widget li i {
    width: 20px; 
}
.off-canvas-contact-widget li a {
    color: #ffffff; 
}
.off-canvas-contact-widget li a:hover {
    color: #ffffff; 
}

.off-canvas-social-widget {
  	margin-top: 9px; 
}

/* Tamaño de los iconos de redes sociales*/
.off-canvas-social-widget a {
    color: #ffffff;
    font-size: 19px;
    display: inline-block;
    margin-right: 19px; 
}

/* Menu Burguer hover */

.off-canvas-social-widget a:hover {
    color: #ffffff; 
}

/*------ offcanvas widget area end ------*/
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9; 
}
.off-canvas-wrapper.open {
    opacity: 1;
    visibility: visible; 
}
.off-canvas-wrapper.open .off-canvas-inner-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; 
}
.off-canvas-wrapper .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    cursor: url("../img/icon/cancel.png"), auto;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
}

/* Menu Responsive*/
  .off-canvas-wrapper .off-canvas-inner-content {
    background: linear-gradient(to right, #6c1d45 , #a82165);
    width: 300px;
    padding: 20px;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(calc(-100% - 50px));
    -ms-transform: translateX(calc(-100% - 50px));
    transform: translateX(calc(-100% - 50px));
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; 
}

/* la tache del menu responsivo*/
.off-canvas-wrapper .btn-close-off-canvas {
    top: 1.7%;
    left: 100%;
    width: 40px;
    height: 40px;
    font-size: 23px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #6c1d45;
}
.off-canvas-wrapper .btn-close-off-canvas i {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      display: block;
      line-height: 40px; 
}
.off-canvas-wrapper .btn-close-off-canvas:hover i {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); 
}
.off-canvas-wrapper .off-canvas-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    height: 100%; 
}

.search-box-offcanvas form {
  position: relative; 
}
.search-box-offcanvas form input {
    color: #666;
    font-size: 13px;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 40px 0 10px;
    background-color: #f2f2f2; 
}
.search-box-offcanvas form .search-btn {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 42px;
    font-size: 20px;
    color: #333333;
    position: absolute; 
}
.search-box-offcanvas form .search-btn:hover {
      color: #007bff; 
}

/*------- mobile top bar settings start -------*/
.mobile-settings {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e5e5e5; 
}
.mobile-settings li {
    margin-bottom: 5px; 
}
.mobile-settings .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
}
.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle {
    font-size: 14px;
    color: #666666;
    cursor: pointer; 
}
.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:hover {
    color: #007bff; 
}
.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:after {
    display: none; 
}
.mobile-settings .nav .mobile-top-dropdown .dropdown-menu {
    padding: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-color: #e5e5e5; 
}
.mobile-settings .nav .mobile-top-dropdown .dropdown-menu .dropdown-item {
    font-size: 13px;
    color: #666666;
    padding: 6px 15px; 
}

/*------- mobile top bar settings end -------*/
.offcanvas-search-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 9; 
}
.offcanvas-search-inner.show {
    opacity: 1;
    visibility: visible; 
}
.offcanvas-search-inner.show .offcanvas-search-box {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); 
}
.offcanvas-search-inner .offcanvas-close {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    top: 50px;
    right: 50px;
    position: absolute;
    z-index: 9; 
}
.offcanvas-search-inner .offcanvas-close i {
    display: block;
    line-height: 50px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; 
}
.offcanvas-search-inner .offcanvas-close:hover i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
}

.offcanvas-search-box {
  height: 100vh;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s; 
}
  .offcanvas-search-box .bdr-bottom {
    border-color: #007bff; 
}
  .offcanvas-search-box input {
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    padding-bottom: 15px;
    background-color: transparent; 
}
.offcanvas-search-box input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    opacity: 1; 
}
.offcanvas-search-box input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    opacity: 1; 
}
.offcanvas-search-box input::-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    opacity: 1; 
}
.offcanvas-search-box input::placeholder {
    color: #fff;
    font-size: 16px;
    opacity: 1; 
}
.offcanvas-search-box .search-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    line-height: 1;
    padding-bottom: 15px;
    text-transform: capitalize;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; 
}
.offcanvas-search-box .search-btn i {
    display: block;
    line-height: 1;
    font-size: 28px;
    padding-right: 15px; 
}
.offcanvas-search-box .search-btn:hover {
   	color: #007bff; 
}

.search-box-offcanvas form {
  	position: relative; 
}
.search-box-offcanvas form input {
    color: #666;
    font-size: 13px;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 40px 0 10px;
    background-color: #f2f2f2; 
}
.search-box-offcanvas form .search-btn {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 42px;
    font-size: 20px;
    color: #333333;
    position: absolute; 
}
.search-box-offcanvas form .search-btn:hover {
    color: #007bff; 
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* Responsive CSS NavBar */

@media only screen and (max-width: 479.98px) {
    header{
      position: fixed;
      width: 100%;
      background: linear-gradient(to right, #6c1d45 , #a82165);
  }

  i {
    color: rgb(255, 255, 255);
  }
  a {
      color: #fff;
  }

  h6 {
      color: #333;
  }

  li {
      color: #fff;
  }
  img {
	max-width: 100%;
	height: auto;
}
      .mobile-menu {
        margin-top: 15px; 
      } 
  }
  
  @media only screen and (max-width: 479.98px) {
      .offcanvas-widget-area {
        padding-bottom: 0; 
        } 
  }
  @media only screen and (max-width: 479.98px) {
      .off-canvas-wrapper .off-canvas-inner-content {
        /* aqui cambiamos el ancho del menu despegable */
          width: 270px;
          padding: 15px; } 
  }
  @media (max-width: 767px) {
      .header-img {
          display: none;
      }
  }



  
/* header CSS */
.header {
	  padding-top: 30%;
    height: 100vh;
    box-shadow: 0px -3px 18px 0px rgba(8, 8, 8, 0.75);
    background-color: rgb(53, 53, 53);
}
.header-text-title {
	font-size: 50px;
	font-weight: 700;
}
.header-text-desc {
	padding-top: 25px;
	padding-bottom: 40px;
	font-size: 20px;
	line-height: 1.7;
	color: #666;
}
.header-text-cta a {
    font-size: 14px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    color: #fff;
    background: linear-gradient(to right, #6c1d45 , #a82165);
    padding: 11px 35px;
    border-radius: 50px;
    border: 1px solid #ff00b3;
    margin-right: 10px;
}
/* End header CSS */





.container3{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2.5rem;
}


  /* Inicio */

  section{
    /* aqui cambiamos el top eran 3.9*/
    padding: 1rem 0;
    /*aqui cambiamos el color de las letras en esta section*/
    color: #ffffff;
  }

  img{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
  }
  
  img:hover{
    /* aqui se cambia que tanto se sube*/
    transform: translateY(-7px);
    transition: all 0.5s ease 0s;
    /*box-shadow: 1px 1px 1rem rgb(0, 0, 0);*/
  }
  
  
  a{
    text-decoration: none;
  }
  
  p{
    line-height: 30px;
    color: #111;
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
  
  }
  
  

    /*   */
  


    .hero{
      width: 100%;
      height: 35vh;
      /*background: linear-gradient(to bottom, #6c1d45 , #a821643b), url("../../img/carreras/diseño-grafico/fondoprueba.jpeg") center no-repeat;
      /*background: #3b3b3b;*/
      background-size: cover;
      /*minuto 40:45*/
      display: flex;
      align-items: center;
      text-align: center; 
      /*font-family: 'Permanent Marker', cursive;*/
      font-family: 'Roboto', sans-serif;
    }
  
    .hero:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, #6c1d45 , #a821643b), url("../img/inicio/fondo.png") center no-repeat;
      background-size: cover;
      border-radius: 0 0 250% 250%/0 0 40% 40%;
      z-index: -1;
    
    }
    @media screen and (min-width: 1200px){
  
      .hero{
        width: 100%;
        height: 45vh;
        background:linear-gradient(to bottom, #6c1d45 , #a821643b), url("../img/inicio/fondo.png") center no-repeat;
        /*background: #3b3b3b;*/
        background-size: cover;
        /*minuto 40:45*/
        display: flex;
        align-items: center;
        text-align: center; 
        /*font-family: 'Permanent Marker', cursive;*/
        font-family: 'Roboto', sans-serif;
      }
  
      .hero:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background: url("../img/inicio/fondo.png") center no-repeat;
        background-size: cover;
        border-radius: 0 0 250% 250%/0 0 40% 40%;
        z-index: -1;
      }
  
  }
   /*
  .hero::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #0808083f, #00fff25b);
  }*/
  
    .sub-headline{
      font-size: 1.2rem;
      color: #111;
      /*font-weight: 100x;*/
      line-height: 1;
      /*letter-spacing: 2px;*/
      opacity: 0;
      animation: fadeUp .9s forwards;
      animation-delay: .9s;
    }

    .sub-headline1{
      font-size: 1.2rem;
      color: #fff;
      /*font-weight: 100x;*/
      line-height: 1;
      /*letter-spacing: 2px;*/
      opacity: 0;
      animation: fadeUp 1.9s forwards;
      animation-delay: 1.2s;
    }
  
    .first-letter{
      /*text-transform: uppercase;*/
      font-size: 23px;
    }
  
    .headline{
      color: #111;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      /*font-weight: 900;*/
      /*letter-spacing: .3rem;*/
      /*margin-right: -.5rem;*/
      
      /* agregue este */
      /*margin-bottom: 10%;*/
      animation: scale .9s forwards;
      
    }

    .headline1{
      color: #fff;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      /*font-weight: 900;*/
      /*letter-spacing: .3rem;*/
      /*margin-right: -.5rem;*/
      
      /* agregue este */
      /*margin-bottom: 10%;*/
      animation: scale 1.2s forwards;
      
    }
  
    .separator{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .line{
      width: 100%;
      max-width: 8.4rem;
      height: .25rem;
      background-color: #ffffff;
      position: relative;
      border-radius: 10px;
      opacity: 0;
      animation: grow 2s forwards;
      animation-delay: 1.2s;
    }
  
    /*
    los adornos en las lineas
    
    .line-right::before,
    .line-left::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: .6rem solid transparent;
      animation: grow 5s forwards;
      animation-delay: 1.2s;
    }
  
    .line-right::before{
      border-right-color: #ffffff;
      right: 0;
    }
  
    .line-left::before{
      border-left-color: #ffffff;
      left: 0;
    }
    */
  
    /*aqui camniamos la posicion del icono de la camara*/
  
    .asterisk{
      font-size: 2rem;
      color: #ffffff;
      margin: 0 .5rem;
      opacity: 0;
      animation: spin 1.2s forwards;
      animation-delay: 5.7;
    }
  
    .single-animation{
      opacity: 0;
      animation: fadeDown .9s forwards;
      animation-delay: 1.5s;
    }
  
    .headline-description h5{
      color: #333;
      font-size: 14px;
      font-weight: 100;
      /*text-transform: uppercase;*/
      margin-bottom: 1.2rem;
      letter-spacing: 2px;
    }
  
    .btn{
      /*margin-top: 19px;*/
      display: inline-block;
      letter-spacing: 0px;
      transition: ease-in 1s;
    }
  
    .cta-btn{
      font-size: 1rem;
      /*font-family: 'Sen', sans-serif;*/
      font-family: 'Roboto', sans-serif;
      /*background: linear-gradient(to right, #005e83, #00fff2);*/
      background: linear-gradient(to right, #ffffff, #d8d8d8);
      padding: .5rem 1.5rem;
      border-radius: .4rem;
      transition: background-color .5s;
      animation: pulse 2s infinite;
      color: rgb(124, 2, 84);
      transition: ease-in 1s;
    }
  /*Start animations y pulse 1:34:00*/
  
  @keyframes pulse {
  0%{
    box-shadow: 0 0 0 0 #a82165;
  }
  70%{
    box-shadow: 0 0 0 2rem rgba(162, 0, 255, 0);
  }
  /*100%{
      box-shadow: 0 0 0 0 rgba(255, 0, 234, 0.842);
  }*/
  }
  
  .cta-btn:hover,
  .cta-btn:focus{
    color: #ffffff;
    transition: ease-in-out 1s;
    background: #fff;
  }

 /* Botonoes */

  
  /* Discover you Story*/
  
  .global-headline{
    text-align: center;
    margin-top: 1rem;
  }
  
  .discover-our-story .global-headline{
    margin-top: 2rem;
  }
  
  .global-headline .asterisk{
    margin: .5rem 0;
  }
  
  /*.headline-dark{
    letter-spacing: .7rem;
  }*/
  
  .global-headline .sub-headline{
    letter-spacing: -1px;
    /* aqui se cambia la separacion de las letras */
    line-height: 1;
  }
  
  .restaurant-info{
    text-align: left;
  }
  
  .restaurant-description{
    margin-bottom: 2rem;
  }
  
  .restaurant-description p{
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #111;
  }
  
  .body-btn{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    transition: color 0s;
    color: #111;
    /* le agregue el 5% por que no lo tenia*/
    margin-bottom: 5%;
  }
  
  /* aqui esta la linea en sobre noostros*/
  .body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 5px;
    background-color: #641c40;
    border-radius: 10px;
  }
  
  .body-btn:hover,
  .body-btn:focus{
    color: #9e285f;
  }
  
  .body-btn:hover::before,
  .body-btn:focus{
    background-color: #fff;
    transition: ease .9s;
  }
  
  /* Tasteful recipes*/
  
  .tasteful-recipes{
    background: url("../img/inicio/banner-1.png") center no-repeat;
    background-size: cover;
  }
  
  
  .between{
    min-height: 35vh;
    display: flex;
    align-items: center;
  }
  
  /* Discover your menu */
  
  .image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Con esto separo a las imagenes */
    grid-gap: 1.5rem;
  }
  
  .image-group img{
    box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.75);
  }
  
  .discover-our-menu .restaurant-description{
    /*padding-top: 3rem;*/
    margin-bottom: 0;
  }
  
  /* The perfect blend */
  
  .perfect-blend{
    background: url("../img/inicio/banner-1.png") center no-repeat;
    background-size: cover;
    /*margin-bottom: 3rem;*/
  }
  
  /* *** Footer coming soon *** */
  
  
  /* *** *** */
  
  
  /* Media Queries 1:54:02s */
  
  @media screen and (min-width: 1200px){
    section{
      padding: 5rem;
    }
    /*
    .menu-toggle{
      display: none;
    }
  
    .nav{
      justify-content: space-between;
    }
  
    .nav-list{
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
    }
  
    .nav-item{
      margin: 0 2.4rem;
      border: none;
    }
  
    .nav-item:last-child{
      margin-right: 0;
    }
  
    .nav-link{
      font-size: 1.3rem;
    }
  
    /* regresar al html en la class="nav-link active" agregar el active 1:57:03s */
    
  
    .sub-headline{
      font-size: 2rem;
    }

    .sub-headline1{
      font-size: 2rem;
    }
  
    .first-letter{
      font-size: 2rem;
    }
  
    .headline{
      font-size: 2rem;
      letter-spacing:  .2rem;
    }

    .headline1{
      font-size: 2rem;
      letter-spacing:  .2rem;
    }
  
  
    .line{
      max-width: 10rem;
    }
  
    .restaurant-info{
      display: flex;
      align-items: center;
    }
  
    .restaurant-info > div {
      flex: 1;
    }
  
    .padding-right{
      padding-right: 7rem;
    }
  
    /*
    .footer-content{
      max-width: 77.5rem;
      margin: auto;
    }
  
    .footer-content-about{
      max-width: 51.3rem;
      margin: 0 auto 5.4rem;
    }
  
    .footer-content-divider{
      display: flex;
      justify-content: space-between;
    }
  
    .social-media,
    .newsletter-form{
      width: 100%;
      max-width: 27.7rem;
      margin: 0 1rem;
    }
  
    .social-icons i{
      opacity: 1;
    }
  
    .newsletter-btn{
      margin-left: 7.5rem;
    }
    */
  }
  
  /* Animations */
  
  @keyframes fadeUp {
    0%{
      transform: translateY(4rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scale {
    0%{
      transform: scale(1.3);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes grow {
    0%{
      width: 0;
    }
    100%{
      opacity: 1;
      width: 100%;
    }
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0);
    }
    100%{
      opacity: 1;
      transform: rotate(-360deg);
    }
  }
  
  @keyframes fadeDown {
    0%{
      transform: translateY(-1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* esta va en el footer 
  @keyframes up {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: translateY(-1rem);
    }
  }
  /*

/* */



/* GALERIA CARRUSEL */


.contenedor2 {
	max-width: 1200px;
	width: 90%;
  margin: auto;
  /* aqui esta la separacion de div*/
  padding: 0% 0%;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor2 {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
  font-size: 23px;
}

.contenido-principal__resumen {
	font-family: 'Roboto', sans-serif;
	line-height: 30px;
  color: #ffffff;
  font-size: 19px
}

/* --- --- CAROUSEL --- --- */

.carousel__contenedor{
  position: relative;
}

.carousel__anterior,
.carousel__siguiente{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 17%;
  /*top: calc(50%-30px);*/
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
  font-size: 23px;
}


.carousel__anterior:hover,
.carousel__siguiente:hover{
  opacity: 100%;
}


.carousel__anterior{
  left: -30px;
}

.carousel__siguiente{
  right: -30px;
  top: 31px;
}


.carousel__lista{
  overflow: hidden;
}

.carousel__elemento{
  text-align: center;
}

/* Cambiar el color de las bolitas */

.carousel__indicadores .glider-dot{
  margin-top: 4%;
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  opacity: .2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover{
  opacity: .5;
}

.carousel__indicadores .glider-dot.active{
  opacity: 1;
}

/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px) {
  .contenedor2{
    padding: 10% 5%;
  }

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

/* TERMINA EL CAROUSEL */




/* Contenedor1 */

.contenedor1{
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* aqui cambiamos el tamaño*/
  grid-template-rows: repeat(3, 5fr);
  /* la separacion de los div's*/
  grid-column-gap: 10px;
  /* la separacion de los divs de arriba */
  grid-gap: 3%;
  /*la altura de la seccion*/
  height: 70vh;
  margin-bottom: 10%;
  grid-template-areas:
  "contenido1 contenido2 contenido2"
  "contenido1 contenido3 contenido3"
  "contenido4 contenido5 contenido6";
}


#contenido1{
  width: 100%;
  height: 46vh;
  background: url("../img/noticias/fondo/noticiasok.png") center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
  /*minuto 40:45*/
  display: flex;
  align-items: center;
  text-align: center; 

  border-radius: 19px;
  padding-top: 10px;
  grid-area: contenido1;
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-template-rows: minmax(50px, 80px) 60px;
  grid-gap: .2rem;
  justify-content: center;
  align-content:center;
  transition: all 0.5s ease 0s;
}


#contenido2{
  
  width: 100%;
  height: 22vh;
  background: url("../img/logoIPNBlanco.png") center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
  /*minuto 40:45*/
  display: flex;
  align-items: center;
  text-align: center; 


  border-radius: 19px;
  padding-top: 10px;
  grid-area: contenido2;
  transition: all 0.5s ease 0s;
}

#contenido3{
  width: 100%;
  height: 22vh;
  background: url("../img/logoIPNBlanco.png") center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
  /*minuto 40:45*/
  display: flex;
  align-items: center;
  text-align: center; 

  border-radius: 19px;
  padding-top: 10px;
  grid-area: contenido3;
  transition: all 0.5s ease 0s;
}

#contenido4{
  width: 100%;
  height: 23vh;
  background: url("../img/logoIPNBlanco.png") center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
  /*minuto 40:45*/
  display: flex;
  align-items: center;
  text-align: center; 

  border-radius: 19px;
  padding-top: 10px;
  grid-area: contenido4;
  transition: all 0.5s ease 0s;
}

#contenido5{
  width: 100%;
  height: 23vh;
  background: url("../img/logoIPNBlanco.png") center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
  /*minuto 40:45*/
  display: flex;
  align-items: center;
  text-align: center; 

  border-radius: 19px;
  padding-top: 10px;
  grid-area: contenido5;
  transition: all 0.5s ease 0s;
}

#contenido6{
  width: 100%;
  height: 23vh;
  background: url("../img/logoIPNBlanco.png") center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
  /*minuto 40:45*/
  display: flex;
  align-items: center;
  text-align: center; 

  border-radius: 19px;
  padding-top: 10px;
  grid-area: contenido6;
  transition: all 0.5s ease 0s;
}


#contenido1:hover{
  transform: translateY(-9px);
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.75);
}

#contenido2:hover{
  transform: translateY(-9px);
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.75);
}

#contenido3:hover{
  transform: translateY(-9px);
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.75);
}

#contenido4:hover{
  transform: translateY(-9px);
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.75);
}

#contenido5:hover{
  transform: translateY(-9px);
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.75);
}

#contenido6:hover{
  transform: translateY(-9px);
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.75);
}




/* SCROLL TOP TOP */

.scrollTopTop{
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.479);
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  left: 4.5%;
  bottom: 5%;
  transition: background 0.5s;
  /* le tuve que poner z-index 1 por que la imagen en las tarjetas de contacto tenia 1*/
  z-index: 1;
}

.scrollTopTop:hover{
  background: #00f7ff;
  
}

@media (max-width: 1200px) {
  .scrollTopTop{
    bottom: 15px;
  }
}

.scrollTopTop:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.scrollTopTop:hover {
  /* aqui se cambia el boton para ir arriba*/
  background: linear-gradient(to right, #6c1d45 , #a82165);
  color: #fff;
}



/* FOOTER */


footer{
  background: linear-gradient(to right,#6c1d45 , #a82165);
  padding: 20px 0;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo-banner{
    width: 420px;
    box-shadow: none;
  }
  
  .logo-banner1{
    width: 70px;
    box-shadow: none;
  }
  
  .logo-banner:hover{
    transform: none;
    transition: none;
    box-shadow: none;
  }
  
  .logo-banner1:hover{
    transform: none;
    transition: none;
    box-shadow: none;
  }
  
  .social-media-footer{
    margin: 15px 0px;
    /* le puse margen para centrarlo*/
    margin-left: 15px;
  }
  
  .social-media-footer a{
    color: #ffffff;
    margin: auto;
    font-size: 23px;
    letter-spacing: 1rem;
    transition: .3s linear;
  }
  
  .social-media-footer a:hover{
    color: #ff0080;
  }
  
  .right-col h1{
    /* agregue el relative*/
    position: relative;
    font-size: 19px;
    color: #ffffff;
    margin-left: 12%;
    
    /*aqui separe la linea*/
    margin-bottom: 10px;
  }
  
  .rights-text{
    text-align: center;
    color: #ffffff;
    margin-bottom: 1px;
    font-size: 14px;
  }
  .frase-footer{
    color: #ffffff;
    margin-left: 20px;
    margin-top: 5px;
  }
  .border{
      /* aqui se cambia el tamaño de la rayita*/
    width: 100px;
    height: 5px;
    background: #ffffff;
    border-radius: 30px;
    margin-left: 23px;
    margin: none;
  
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 19px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn4{
    padding: 14px 40px;
    font-size: 16px;
    color: #ffffff;
    background: #00e1ff;
    /*background: #fc5c65;*/
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 60%;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btn4:hover{
    opacity: 1;
    background: #8a00c0;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width:960px) {
  
    /* aqui cambiamos la posicion de las columnas cualdo se vuelve responsivo*/
     .footer-container{
       max-width: 600px;
     }
     .right-col{
       width: 100%;
       margin-bottom: 0px;
       text-align: center;
     }

     .right-col h1{
      /* agregue el relative*/
      position: relative;
      font-size: 17px;
      color: #ffffff;
      margin: auto;
      margin-bottom: 10px;
     }
   
     .border{
       margin: auto;
     }
   
     .left-col{
       width: 100%;
       text-align: center;
     }
   }
   
   @media screen and (max-width:700px){
     .btn4{
       padding: 14px 50px;
       color: #ffffff;
       background: linear-gradient(to right, #6c1d45 , #018a8f);
       margin: 0;
       width: 95%;
       margin-top: 20px;
       margin-left: 5%;
       }
       
       .logo-banner{
         width: 370px;
         box-shadow: none;
         transform: none;
       }
       
       .logo-banner1{
         width: 70px;
         box-shadow: none;
       }
       
   }





/* Video Modal */




/* video */

.video {
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('../img/inicio/baner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.video__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 770px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  height: 25vh;
  color: #fff;
}

.video__content h3 {
  margin-top: 60px;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}

.video__play {
  display: inline-block;
}

.video__play svg {
  transition: all 0.2s ease;
}

.video__play:hover svg {
  transform: scale(1.2);
}



/* Baner */

.banner {
  text-align: center;
  background-color: #0984e3;
  color: #fff;
  padding: 2rem 0;
  position: relative;
  width: 100%;
  top: 0px;
  z-index: 988;
  background: url('../img/inicio/bannerdesktop1.png') center no-repeat;
  /*background: #3b3b3b;*/
  background-size: cover;
}

.banner::after{
  height: 100vh;
}

.banner p{
  color: #6c1d45;
  text-align: center;
  position: absolute;
  top: 2%;
  left: 1.5rem;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.banner a{
  color: #6c1d45;
  font-family: 'Roboto', sans-serif;
}

.cross {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  cursor: pointer;
  color: #6c1d45;
}

@media screen and (max-width:700px){
  .banner {
    text-align: center;
    background-color: #0984e3;
    color: #fff;
    padding: 1.2rem 0;
    position: relative;
    width: 100%;
    top: 0px;
    z-index: 988;
    background: url('../img/inicio/bannerinicio02.png') center no-repeat;
    /*background: #3b3b3b;*/
    background-size: cover;
  }
  
  .banner::after{
    height: 100vh;
  }
  
  .banner p{
    position: absolute;
    color: #6c1d45;
    text-align: center;
    font-size: 11px;
    top: 40%;
    left: 5%;
    right: 5%;
  }

  .banner i{
    color: #6c1d45;
  }

  .banner a{
    color: #6c1d45;
  }
  
  .cross {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    cursor: pointer;
    color: #6c1d45;
  }
}

/* */


.btn2{
  padding: 10px 15px;
  background: linear-gradient(to right,#6c1d45 , #a82165);
  border-radius: 5px;
  margin: 25px 0px 0px;
  /*text-transform: uppercase;*/
  /* aqui esrta el color de las letras del boton*/
  color: #fff;
  font-size: 14px;
  transition: all .5s;
}
.btn2:hover{
  transform: translateY(0px);
  box-shadow: .1rem .1rem .7rem #3a3a3aa8;
}

.btn2:active{
  transform: translateY(0);
  box-shadow: none;
}



   


